@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.title-font {
  font-family: 'Italiana', serif;
}

/* Stili slider minimalisti */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #ffffff;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* Stili scrollbar minimalisti */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}
