@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
}

.title-font {
  font-family: 'Avantgarde', sans-serif;
  font-weight: bold;
}

button, input, select {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
